<div class="section">
  <div class="container">

    <div class="columns is-centered">
      <div class="column  is-11">

    <div class="section">
      <div class="title">Table</div>
    </div>

    <table class="table box is-hoverable is-striped">
      <thead>
        <tr>
          <th><div class="content has-text-link-dark is-size-5">Produktname</div></th>
          <th><div class="content has-text-link-dark is-size-5">Beschreibung</div></th>
          <th><div class="content has-text-success-dark is-size-5">Aktionen</div></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th><div class="content has-text-link-dark is-size-5">Produktname</div></th>
          <th><div class="content has-text-link-dark is-size-5">Beschreibung</div></th>
          <th><div class="content has-text-success-dark is-size-5">Aktionen</div></th>
        </tr>
      </tfoot>

      <tbody>
        <td>Lorem ipsum dolor sit amet consectetur consectetur</td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, totam harum nihil nostrum reprehenderit eaque quidem dicta qui necessitatibus natus.</td>
        <td>1</td>
      </tbody>
    </table>

    </div>
    </div>

  </div>
</div>